<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/main-layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loại xe</title>
</head>
<style>
    .small-icon {
    font-size: 5px; /* Adjust the font size as needed */
    /* You can also add other styling properties if necessary */
}

</style>
<body>
    <article layout:fragment="content">
        <h3 class="i-name">
        
            <br>
            <b class="ml-4">Loại xe</b>
        </h3>
       
        <div class="row">
            <div class="col-6">
                <form th:action="@{/admin/categories/search-and-page}"  class="form-inline my-2 my-lg-0  ml-5">
                    <input class="form-control mr-sm-2" type="search" name="keywords" th:value="${keywords}" placeholder="Tìm kiếm" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
                  </form>
            </div>

            <div class="col-6">
                <a th:href="@{/admin/categories/add}"  class="btn btn-group-vertical btn-outline-success" style="margin-left: 270px;">Thêm loại xe mới</a>
            </div>
        </div>
        <div class="values">
            <div class="container-fluid">
                <div class="alert alert-primary" th:if="${message != null}"
                     role="alert">
                    <i th:text="${message}">[[${message}]]</i>
                </div>
                <div class="card-body  ">
                    <table class="table table-striped table-inverse" style="width: 112%;">
                        <thead class="thead-inverse">
                            <tr style="font-size: 1.4rem;">
                                <th scope="col">Mã</th>
                                <th scope="col">Loại xe đạp</th>

                               
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${page.content}" style="font-size: 1.3rem;">
                                <td scope="row">[[${item.id}]]</td>
                                <td th:text="${item.name}">Plane</td>
                                <td>
                                    <a th:href="@{'/admin/categories/edit/' + ${item.id}}" class="btn btn-warning fa fa-edit">

                                    </a>
                                    <a th:href="@{'/admin/categories/delete/' + ${item.id}}" class="btn btn-danger fa fa-trash">

                                    </a>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                    <div class="card-footer">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:if="${page.number > 0}">
                                    <a class="page-link" th:href="@{|/admin/categories?p=${page.number-1}|}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" th:href="@{|/admin/categories?p=0|}">1</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{|/admin/categories?p=${page.totalPages-1}|}">2</a></li>
                                <li class="page-item">
                                    <a class="page-link" th:if="${page.number < page.totalPages - 1}" th:href="@{|/admin/categories?p=${page.number+1}|}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </article>
</body>
</html>