<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/assets/css/style.css" />  
</head>
<body>
<article layout:fragment="content">
    <div class="item__img">
      <img src="https://images.gymhome.vn/uploads/banner/20180411174636--xe-dap-the-thao-banner_.jpg" alt="" class="img-fluid" >
    </div>
    <!-- Block Element Modifier -->
    <div class="app">


        <div class="app__container">


            <!-- Banner -->


            <div class="grid">

                <div class="item">
                    <div class="item__product">
                        <h3>Xe đạp tốt nhất năm 2023</h3>
                        <span>THỜI TRANG - GIÁ RẺ - DEAL SỐC</span>
                    </div>
                </div>
            
                <div class="grid__row app__content">
                    <!-- <div class="grid__column-2">
                      <nav class="category">
                        <h3 class="category__heading"><i class="category-icon fa-solid fa-bars"></i>Danh Mục</h3>
                        <ul class="category-list">
                          <li class="category-item category-item__active">
                            <a href="" class="category-item__link">Sản phẩm</a>
                          </li>
                          <li class="category-item">
                            <a href="" class="category-item__link">Xe đạp leo núi</a>
                          </li>
                          <li class="category-item">
                            <a href="" class="category-item__link">Xe đạp du lịch</a>
                          </li>
                          <li class="category-item">
                            <a href="" class="category-item__link">Xe đạp gấp</a>
                          </li>
                          <li class="category-item">
                            <a href="" class="category-item__link">Xe đạp không phanh</a>
                          </li>
                          <li class="category-item">
                            <a href="" class="category-item__link">Xe đạp biểu diễn</a>
                          </li>
                          <li class="category-item">
                            <a href="" class="category-item__link">Xe đạp cho trẻ em</a>
                          </li>
                        </ul>
                      </nav>
                    </div> -->

                    <div class="grid__column-10">
                        <div class="home-product">
                            <div class="grid-row">
                              <th:block th:each="product : ${products}">
                              <div class="grid-column-2-4">
                                <!-- Duyệt qua danh sách sản phẩm -->
                        
                                    <a class="home-product-item" href="#">
                                        <div class="home-product-item__img" >
                                          <a th:href="@{|/product/detail/${product.id}|}">
                                            <img th:src="@{|/assets/images/${product.image}|}" class="img-fluid">
                                        </a>
                                        </div>
                                        <h4 class="home-product-item__name" th:text="${product.name}">Xe đạp trẻ em Gorobike City 20</h4>
                                        <div class="home-product-item__price">
                                            <div class="home-product-item__price-pr" th:text="${#numbers.formatDecimal(product.price,0,'POINT',0,'POINT')} + ' VNĐ'" ></div> 
                                            <div class="home-product-item__day" th:text="'Mức thời gian: ' + ${product.displayPrice}"></div>
                                        </div>
                                    </a>
                     
                            </div>
                          </th:block>
                            </div>
                        </div>
                        <script th:inline="javascript">
                          /*<![CDATA[*/
                          function changePage(page) {
                              window.location.href = '/home?page=' + page;
                          }
                          /*]]>*/
                      </script>
                      
                      <ul class="pagination home-product__pagination">
                          <!-- Nút chuyển trang trái -->
                          <li class="pagination-item">
                              <a href="#" class="pagination-item__link" th:if="${currentPage > 0}" th:attr="data-page=${currentPage - 1}" th:onclick="'changePage(' + ${currentPage - 1} + ')'" >
                                  <i class="pagination-item__icon fa-solid fa-angle-left"></i>
                              </a>
                          </li>
                          
                          <!-- Các nút trang -->
                          <th:block th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                              <li class="pagination-item" th:classappend="${pageNumber == currentPage + 1} ? 'pagination-item--active'">
                                  <a href="#" class="pagination-item__link" th:attr="data-page=${pageNumber - 1}" th:onclick="'changePage(' + ${pageNumber - 1} + ')'" th:text="${pageNumber}"></a>
                              </li>
                          </th:block>
                          
                          <!-- Nút chuyển trang phải -->
                          <li class="pagination-item">
                              <a href="#" class="pagination-item__link" th:if="${currentPage < totalPages - 1}" th:attr="data-page=${currentPage + 1}" th:onclick="'changePage(' + ${currentPage + 1} + ')'">
                                  <i class="pagination-item__icon fa-solid fa-angle-right"></i>
                              </a>
                          </li>
                      </ul>
                    </div>
                </div>
                <h3 class="h-wt">Xe đạp phù hợp với mùa đông</h3>
                <div class="winter-img-bc">
                  <img src="https://xedapmoi.com/wp-content/uploads/2021/09/bikes-image-map-bg.jpg" alt="" class="img-wt-bn" style="width: 1300px">
                  <img src="https://xedapmoi.com/wp-content/uploads/2021/09/bikes-image-map-img.png" alt="" class="img-wt-bc"> 
              </div>

              <div class="boxo">
                <div class="box1">
                  <header>
                    <h2>Vé lượt</h2>
                    <p>Xe điện</p>
                    <p>10.000đ / 30 phút</p>
                  </header>
                  <div class="ctg">
                    <h3>Thời gian cung cấp dịch vụ</h3>
                    <p>Hoạt động 24/7 </p>
                    <p>(Thời gian hoạt động có thể khác tại một số Tỉnh/Thành phố)</p>
                  </div>
                  <div class="panel-body">
                    <h3>Chi tiết vé</h3>
                    <p>Cước phí 10.000đ để mở khóa xe và sử dụng trong 30 phút đầu tiên.</p>
                    <p>Sau 30 phút đầu sẽ tính cước phí 2.000đ cho mỗi 06 phút tiếp theo.</p>
                    <p>Có áp dụng vé nhóm: Sử dụng một tài khoản thuê nhiều xe, số tiền trong tài khoản phải còn đủ tối thiểu 40.000đ cho mỗi 01 xe muốn mở thêm.</p>
                    <p>Đối với vé lượt, khách hàng không cần mua vé trước, chỉ cần nạp điểm vào tài khoản và quét mã QR trên xe để sử dụng ngay.</p>
                    <h3>Lợi ích</h3>
                    <p><i class="ic-check fa-solid fa-check"></i> Chi phí linh hoạt</p>
                    <p><i class="ic-check fa-solid fa-check"></i> Sử dụng nhanh chóng dễ dàng</p>
                    <p><i class="ic-check fa-solid fa-check"></i> Phù hợp với các chuyến đi ngắn</p>
                  </div>
                </div>

                <div class="box2">
                  <header>
                    <h2>Vé ngày</h2>
                    <p>Xe điện</p>
                    <p>100.000đ / 450 phút / ngày</p>
                  </header>
                  <div class="ctg">
                    <h3>Thời gian cung cấp dịch vụ</h3>
                    <p>Hoạt động 24/7 </p>
                    <p>(Thời gian hoạt động có thể khác tại một số Tỉnh/Thành phố)</p>
                  </div>
                  <div class="panel-body">
                    <h3>Chi tiết vé</h3>
                    <p>Cước phí 100.000đ cho tổng 450 phút (tương đương 7,5 giờ) sử dụng trong ngày.</p>
                    <p>Người dùng sử dụng quá thời lượng này trong ngày sẽ áp dụng cước phí vé lượt.</p>
                    <p>Người dùng có thể thuê và trả xe không giới hạn số lần trong ngày</p>
                    <p>Có áp dụng vé nhóm: Sử dụng một tài khoản thuê nhiều xe, khách hàng cần mua đủ số lượng vé ngày tương ứng số lượng xe muốn thuê.</p>
                    <h3>Lợi ích</h3>
                    <p class="b-prm"><i class="ic-check ic-primary fa-solid fa-check"></i> Tiết kiệm hơn 30% chi phí</p>
                    <p><i class="ic-check fa-solid fa-check"></i>  Không giới hạn số chuyến đi trong ngày</p>
                    <p><i class="ic-check fa-solid fa-check"></i> Phù hợp mục đích du lịch, tham quan trong ngày</p>
                  </div>
                </div>



          
              </div>



                <div class="shop-st">
                    <span>Hệ thống cửa hàng</span>
                    <div class="shop-st-tq">
                        <div class="shop-img">
                            <img src="https://mauwebsite.tamnguyen.vn/xedap/wp-content/uploads/2021/11/cua-hang.jpg" alt="" class="img-sp">
                            <div class="shop-b-text">
                                <p class="dark">Quận 10</p>
                                <p class="dark">Tel: 0905.555.xxx</p>
                                <p>458 Nguyễn Thị Thập, Quận 10, Thành phố Hồ Chí Minh</p>
                                <p>Thứ 2 - Chủ nhật: 9AM - 9PM</p>
                            </div>
                        </div>
                        <div class="shop-img">
                            <img src="https://mauwebsite.tamnguyen.vn/xedap/wp-content/uploads/2021/11/cua-hang.jpg" alt="" class="img-sp">
                            <div class="shop-b-text">
                                <p class="dark">Quận Liên Chiểu</p>
                                <p class="dark">Tel: 0339.389.xxx</p>
                                <p>33 Nam Cao, Quận Liên Chiểu, Thành Phố Đà Nẵng</p>
                                <p>Thứ 2 - Chủ nhật: 9AM - 9PM</p>
                            </div>
                        </div>
                        <div class="shop-img">
                            <img src="https://mauwebsite.tamnguyen.vn/xedap/wp-content/uploads/2021/11/cua-hang.jpg" alt="" class="img-sp">
                            <div class="shop-b-text">
                                <p class="dark">Quận Tân Bình</p>
                                <p class="dark">Tel: 0905.345.xxx</p>
                                <p>176 Võ Văn Ngân, phường Bình Thọ, TP. Thủ Đức, TP. Hồ Chí Minh</p>
                                <p>Thứ 2 - Chủ nhật: 9AM - 9PM</p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>


    </div>

    <!-- Modal layout -->
    <!-- <div class="modal">
      <div class="modal__overlay"></div>

      <div class="modal__body"> -->
    <!-- Register form -->
    <!-- <div class="auth-form">
       <div class="auth-form__container">
        <div class="auth-form__header">
          <h3 class="auth-form__heading">Đăng ký</h3>
          <span class="auth-form__switch-btn">Đăng nhập</span>
        </div>

        <div class="auth-form__form">
          <div class="auth-form__group">
            <input type="text" class="auth-form__input" placeholder="Nhập email của bạn">
          </div>
          <div class="auth-form__group">
            <input type="password" class="auth-form__input" placeholder="Nhập mật khẩu của bạn">
          </div>
          <div class="auth-form__group">
            <input type="password" class="auth-form__input" placeholder="Nhập lại mật khẩu">
          </div>
        </div>

        <div class="auth-form__aside">
          <p class="auth-form__policy-text">
            Bằng việc đăng ký, bạn đã đồng ý với F8-Shop về
            <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a> &
            <a href="" class="auth-form__text-link">Chính sách bảo mật</a>
          </p>
        </div>

        <div class="auth-form__controls">
          <button class="btn auth-form__controls-back">TRỞ LẠI</button>
          <button class="btn btn-primary">ĐĂNG KÝ</button>
        </div>
       </div>

        <div class="auth-form__socials">
          <a href="" class="auth-form__socials-icon--fb btn btn-size-s btn--with-icon">
            <i class="auth-form__socials-icon fa-brands fa-square-facebook"></i>
            <span class="auth-form__socials--title">
              Kết nối với Facebook
            </span>
          </a>
          <a href="" class="auth-form__socials-icon--gg btn btn-size-s btn--with-icon">
            <i class="auth-form__socials-icon fa-brands fa-google"></i>
            <span class="auth-form__socials--title">
              Kết nối với Google
            </span>
          </a>
        </div>
    </div> -->

    <!-- Login form -->
    <!-- <div class="auth-form">
      <div class="auth-form__container">
       <div class="auth-form__header">
         <h3 class="auth-form__heading">Đăng nhập</h3>
         <span class="auth-form__switch-btn">Đăng ký</span>
       </div>

       <div class="auth-form__form">
         <div class="auth-form__group">
           <input type="text" class="auth-form__input" placeholder="Nhập email của bạn">
         </div>
         <div class="auth-form__group">
           <input type="password" class="auth-form__input" placeholder="Nhập mật khẩu của bạn">
         </div>
       </div>

       <div class="auth-form__aside">
         <div class="auth-form__help">
            <a href="" class="auth-form__help-link  auth-form__help-forgot">Quên mật khẩu</a>
            <span class="auth-form__help-separate"></span>
            <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
         </div>
       </div>

       <div class="auth-form__controls">
         <button class="btn auth-form__controls-back">TRỞ LẠI</button>
         <button class="btn btn-primary">ĐĂNG NHẬP</button>
       </div>
      </div>

       <div class="auth-form__socials">
         <a href="" class="auth-form__socials-icon--fb btn btn-size-s btn--with-icon">
           <i class="auth-form__socials-icon fa-brands fa-square-facebook"></i>
           <span class="auth-form__socials--title">
             Kết nối với Facebook
           </span>
         </a>
         <a href="" class="auth-form__socials-icon--gg btn btn-size-s btn--with-icon">
           <i class="auth-form__socials-icon fa-brands fa-google"></i>
           <span class="auth-form__socials--title">
             Kết nối với Google
           </span>
         </a>
       </div>
   </div> -->
    <!-- </div>
  </div> -->

</article>
</body>
</html>