<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout}" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Giới thiệu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/assets/css/style.css" />  
  </head>
  <body>
    <article layout:fragment="content">
      <h1 style="font-size: 40px; margin-top: 210px; text-align: center;">GIỚI THIỆU VỀ BICYCLE RENTAL</h1>
        <hr>
         <p style="font-size: 20px; margin-left: 70px;">Lời đầu tiên, đội ngũ thương hiệu <strong style="color: #4caf50;">Bicycle Rental | Công ty cho thuê xe đạp</strong> xin gửi đến quý khách hàng, quý đối tác lời chúc sức khỏe và chúc thành công trong mọi lĩnh vực. Đơn vị lữ hành Bicycle Rental là một trong những đơn vị lữ hành chuyên nghiệp, uy tín & chất lượng tại Đà Nẵng. Với tâm thế được phục vụ, đội ngũ chúng tôi luôn chỉnh chu sản phẩm/ dịch vụ giúp quý khách hàng của mình trải nghiệm thật trọn vẹn chuyến đi cùng người thân, bạn bè, đồng nghiệp, ...vv. Hơn 5 năm thành lập và phát triển với 5 giá trị cốt lõi: Khát khao - Uy Tín - Tin Tưởng</p>
         <br>
         <div class="br">
          <div class="img-bc">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/000/628/393/small_2x/bike_rental_01.jpg" alt="" style="margin-left: 65px;">
          </div>
          <div class="b-text">
            <strong>Tầm nhìn:</strong> Trở thành <strong>top 5 thương hiệu du lịch miền Trung uy tín,</strong> mang đến du khách những <strong>sản phẩm du lịch Đà Nẵng</strong> chất lượng, giá tốt chuẩn 3 sao trở lên vào năm 2025. Là đơn vị tổ chức tour kết hợp gala diner, team building tại Đà Nẵng, miền Trung hàng đầu với quy mô lớn, kịch bản hay, độc, lạ. Với ekip thực hiện chuyên nghiệp nhất.
            <br>
            <br>
            <strong>Sứ mệnh: </strong>Cung cấp thông tin du lịch Đà Nẵng chuẩn nhất về điểm đến, lịch trình, dịch vụ liên quan...cam kết không phát sinh chi phí nào. Từ đó nâng cao khả năng phục vụ dân sinh " bất kỳ ai cũng nên đến thủ phủ du lịch miền Trung 1 lần". 
            <br>
            <br>
            <strong>Văn hóa doanh nghiệp: </strong>Được thành lập hơn 5 năm với hơn 4 chi nhánh toàn quốc. Tất cả CBCNV <strong>thương hiệu du lịch Bicycle Rental</strong> luôn đặt thương hiệu, cách chăm sóc, quy trình phục vụ chỉn chu nhất đối với khách hàng đã tin tưởng sử dụng dịch vụ. Dựa trên 4 giá trị cốt lõi " Kỹ luật - khát khao - tin - làm" thương hiệu chúng tôi tự tin mang mang lại những giá trị tốt nhất đến với khách hàng đã, đang, và sẽ sử dụng dịch vụ chúng tôi.
          </div>
         </div>
    </article>
  </body>
</html>