<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/css/style.css" />
  <title> Đăng ký</title>
</head>

<body >
<article layout:fragment="content" style="margin-top: 170px;">


  <div class="app">
    <div th:if="${message != null}" >
      <div class="bg-success">
          <p style="font-size: 20px; color: #fff;">[[${message}]]</p>
      </div>
    </div>


         
            <div class="us-form-ip" style=" margin-left: 450px;">
               
            
           
              <!-- Form nhập email -->
              <form th:action="@{/reset-password}" method="post" role="form" onsubmit="return validatePassword()">
                <h2 style="margin-left: 15px;">Khôi phục lại tài khoản</h2>
   
           <br>
                <label for="password">Mật khẩu mới</label>
                <input type="password" id="password" name="password" placeholder="Nhập mật khẩu mới" required/>
              
                <br/>
                <label for="password">Nhập lại mật khẩu</label>
                <input type="password" id="confirmPassword" name="password" placeholder="Nhập lại mật khẩu " required/>
              
                <button style="margin-left: 15px;" type="submit">Lưu</button>
               
            </form>

            </div>
         
          
    



  </div>
  <script>
    function validatePassword(){
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        if (password !== confirmPassword) {
            alert("Password do not match");
          return false;
        }
        return true;
    }
  </script>

</article>


</body>
</html>

